## Imports

In [18]:
%matplotlib inline

import pandas as pd
import string
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import nltk
import chardet
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.sentiment import SentimentIntensityAnalyzer

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/simritibundhoo/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

## Loading the Dataset

In [19]:
# use the chardet library to automatically detect the encoding of the file
with open("taylor_swift_lyrics.csv", 'rb') as f:
    result = chardet.detect(f.read())

# load dataset
lyrics = pd.read_csv("taylor_swift_lyrics.csv", encoding=result['encoding'])

# inspect first few rows
lyrics.head()

,artist,album,track_title,track_n,lyric,line,year
0,Taylor Swift,Taylor Swift,Tim McGraw,1,He said the way my blue eyes shined,1,2006
1,Taylor Swift,Taylor Swift,Tim McGraw,1,Put those Georgia stars to shame that night,2,2006
2,Taylor Swift,Taylor Swift,Tim McGraw,1,"I said, ""That's a lie""",3,2006
3,Taylor Swift,Taylor Swift,Tim McGraw,1,Just a boy in a Chevy truck,4,2006
4,Taylor Swift,Taylor Swift,Tim McGraw,1,That had a tendency of gettin' stuck,5,2006

## Clean the lyric text

In [20]:
stop_words = set(stopwords.words('english'))

def clean_lyrics(text):
    # Convert to lowercase using Pandas str.lower()
    text = text.str.lower()
    
    # Remove punctuation using regex [^\w\s]
    text = text.str.replace('[^\w\s]', '')
    
    # Remove stop words
    text = text.apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))
    
    return text

# Apply the clean_lyrics function to the 'lyric' column
lyrics['clean_lyric'] = clean_lyrics(lyrics['lyric'])

# View the first few rows to check the result
print(lyrics[['lyric', 'clean_lyric']].head())

                                         lyric                    clean_lyric
0          He said the way my blue eyes shined      said way blue eyes shined
1  Put those Georgia stars to shame that night  put georgia stars shame night
2                       I said, "That's a lie"             said, "that's lie"
3                  Just a boy in a Chevy truck                boy chevy truck
4         That had a tendency of gettin' stuck         tendency gettin' stuck